# Python
__pycache__
*.pyc
*.egg-info
dist
core.*

# Log
*.log
*.log.*
*.json

# Data
!**/alpaca-data-conversation.json
eval/*

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

*.pt

playground
